body {
	font-family: Verdana, sans-serif;
	/*background-image: url("images/bg_sea.jpg");*/
}

div {
    border-radius: 5px;
}

p {
	margin: 1em;
}

#footer p {
	position: relative;
	margin: 0;
	padding-top: 1em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 1em;
}

li {
	list-style-type: square
}

#header {
    z-index: 1;
    position: fixed;
	width: 100%;
    margin-top: -1em;
    height: 6em;
  	background-color: #222222;
    margin-bottom: 2em;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    
}

#name {
	float: left;
	margin-left: 1em;
	padding-top: 0em;
	font-size: 2em;
}

#email {
	float: right;
	margin-right: 1em;
	padding-top: 1em;
	font-size: 1em;
	color: #ffffff;
}

#footer {
    position: relative;
    height: 6em;
    background-color: #cccccc;
    clear: both;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #222222;
}

#my_pic {
	position: relative;
	float: right;
	width: 100px;
	margin: 1em;
	margin-top: -2em;
}

.right {
    position: relative;
    float: right;
    margin-top: 6em;
    width: 78%;
    height: 50em;
    background-color: #EEEEEE;
    margin-bottom: 1em;
}

.left {
    position: relative;
    float: left;
    margin-top: 6em;
    width: 20%;
    height: 50em;
    background-color: #333333;
    margin-bottom: 1em;
    color: #eeeeee;
}

a:hover {
	font-weight: bold;
}